/* Overall page layout */
body {
  margin: 0;
  font-family: var(--font-family-sans-serif);
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* Header styles */
.app-header {
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #b2a17f;
}

.app-title {
  font-size: 1.5rem;
}

.login-button {
  background-color: var(--ui-color);
  color: var(--text-dark);
  border: none;
  padding: 10px 15px;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

/* Wrapper for the content beneath the header */
.content-wrapper {
  max-width: 950px;
  margin: 20px auto; /* Center the wrapper and add spacing below the header */
  padding: 0 20px;
  box-sizing: border-box;
}
