.homepage-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-card {
  background-color: #702029;
  color: white;
  text-align: center;
  padding: 3rem;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90%;
}

.homepage-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.homepage-subtitle {
  font-size: 1.2rem;
  opacity: 0.9;
  margin-bottom: 2rem;
}

.homepage-button {
  background-color: #631216;
  color: #E67762;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.homepage-button:hover {
  background-color: #e0e0e0;
}
